/.vs
/Debug
/x64
*.db
*.opendb
*.db-shm
*.db-wal
*.ipch
*.filters
*.user
*.log
*.obj
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.ilk
*.recipe
/HXNTFSExplorer/x64
/Debug/*.exp
/HXFileSystem/x64
/HXNTFSExplorer/x64
/HXNTFSExplorer/x64
/HXNTFSExplorer/x64
/HXNTFSExplorer/x64/
/HXNTFSPlugin/x64
/HXNTFSPluginU
/HXFindCatalog/x64/
/NTFS_2019/x64/Debug/moc
/HXNTFSExplorer/Debug/qmake/temp
/HXNTFSExplorer/Debug
/HXFileSystem/.vs/HXFileSystem/v16/*.suo
/HXFileSystem/Debug
/HXNTFSPlugin/Debug
/HXTestNtfs/x64/Debug
/MFCApplication1/Debug
/MFCApplication1
/HXFileSystem - 副本
/HXFindCatalog - 副本
/HXNTFSPlugin - 副本
/HXNTFS
/HXNTFSExplorer/log.txt
/HXTestNtfs/hx.txt
/HXTestNtfs/hx2.txt
/NTFS_2017/HXCalc.vcxproj
/NTFS_2017/HXCalcUnitTest.vcxproj
/NTFS_2017/HXFileSystem.vcxproj
/NTFS_2017/HXFindCatalog.vcxproj
/NTFS_2017/HXNTFSExplorer.vcxproj
/NTFS_2017/HXNTFSPlugin.vcxproj
/NTFS_2017/HXNTFSPluginU.vcxproj
/NTFS_2017/HXTestNtfs.vcxproj
/NTFS_2019/HXCalc.vcxproj
/NTFS_2019/HXCalcUnitTest.vcxproj
/NTFS_2019/HXFileSystem.vcxproj
/NTFS_2019/HXFindCatalog.vcxproj
/NTFS_2019/HXNTFSExplorer.vcxproj
/NTFS_2019/HXNTFSPlugin.vcxproj
/NTFS_2019/HXNTFSPluginU.vcxproj
/NTFS_2019/HXTestNtfs.vcxproj
/NTFS_2019/x64/Debug/HXNTFSExplorer.vcxproj.FileListAbsolute.txt
/NTFS_2019/x64/Debug/qmake/qtvars_x64_Debug.props
/NTFS_2019/x64/Debug/qmake/temp/.qmake.stash
/NTFS_2019/x64/Debug/qmake/temp/Makefile
/NTFS_2019/x64/Debug/qmake/temp/props.txt
/NTFS_2019/x64/Debug/qmake/temp/qtvars.pro
/NTFS_2019/x64/Debug/qmake/temp/qtvars_x64_Debug.props
/NTFS_2019/x64/Debug/rcc/qrc_HXNTFSExplorer.cpp
/NTFS_2019/x64/Debug/uic/ui_HXNTFSExplorer.h
/QtConsoleApplication1/Debug/qmake/qtvars_Win32_Debug.props
/QtConsoleApplication1/Debug/qmake/temp/.qmake.stash
/QtConsoleApplication1/Debug/qmake/temp/A1729A80-356B-4D8D-BAB1-79780DAB3D8F.QtConsoleApplication1.designtime.idx
/QtConsoleApplication1/Debug/qmake/temp/Makefile
/QtConsoleApplication1/Debug/qmake/temp/props.txt
/QtConsoleApplication1/Debug/qmake/temp/qtvars.pro
/QtConsoleApplication1/Debug/qmake/temp/qtvars_Win32_Debug.props
/QtConsoleApplication1/QtConsoleApplication1.vcxproj
/QtConsoleApplication1/Release/qmake/qtvars_Win32_Release.props
/QtConsoleApplication1/Release/qmake/temp/.qmake.stash
/QtConsoleApplication1/Release/qmake/temp/A1729A80-356B-4D8D-BAB1-79780DAB3D8F.QtConsoleApplication1.designtime.idx
/QtConsoleApplication1/Release/qmake/temp/Makefile
/QtConsoleApplication1/Release/qmake/temp/props.txt
/QtConsoleApplication1/Release/qmake/temp/qtvars.pro
/QtConsoleApplication1/Release/qmake/temp/qtvars_Win32_Release.props
/QtConsoleApplication1/main.cpp
/QtConsoleApplication2/.vs/QtConsoleApplication2/v16/.suo
/QtConsoleApplication2/Debug/QtConsoleApplication2.vcxproj.FileListAbsolute.txt
/QtConsoleApplication2/Debug/qmake/qtvars_Win32_Debug.props
/QtConsoleApplication2/Debug/qmake/temp/.qmake.stash
/QtConsoleApplication2/Debug/qmake/temp/F6877602-AA6B-4479-ABEE-C509080C89CE.QtConsoleApplication2.designtime.idx
/QtConsoleApplication2/Debug/qmake/temp/Makefile
/QtConsoleApplication2/Debug/qmake/temp/props.txt
/QtConsoleApplication2/Debug/qmake/temp/qtvars.pro
/QtConsoleApplication2/Debug/qmake/temp/qtvars_Win32_Debug.props
/QtConsoleApplication2/main.cpp
/QtWidgetsApplication1/Debug/moc/moc_QtWidgetsApplication1.cpp
/QtWidgetsApplication1/Debug/qmake/qtvars_Win32_Debug.props
/QtWidgetsApplication1/Debug/qmake/temp/.qmake.stash
/QtWidgetsApplication1/Debug/qmake/temp/B0399395-368F-4424-8DC9-BF09C31F079E.QtWidgetsApplication1.designtime.idx
/QtWidgetsApplication1/Debug/qmake/temp/Makefile
/QtWidgetsApplication1/Debug/qmake/temp/props.txt
/QtWidgetsApplication1/Debug/qmake/temp/qtvars.pro
/QtWidgetsApplication1/Debug/qmake/temp/qtvars_Win32_Debug.props
/QtWidgetsApplication1/Debug/rcc/qrc_QtWidgetsApplication1.cpp
/QtWidgetsApplication1/Debug/uic/ui_QtWidgetsApplication1.h
/QtWidgetsApplication1/QtWidgetsApplication1.cpp
/QtWidgetsApplication1/QtWidgetsApplication1.h
/QtWidgetsApplication1/QtWidgetsApplication1.qrc
/QtWidgetsApplication1/QtWidgetsApplication1.ui
/QtWidgetsApplication1/QtWidgetsApplication1.vcxproj
/QtWidgetsApplication1/Release/moc/moc_QtWidgetsApplication1.cpp
/QtWidgetsApplication1/Release/qmake/qtvars_Win32_Release.props
/QtWidgetsApplication1/Release/qmake/temp/.qmake.stash
/QtWidgetsApplication1/Release/qmake/temp/B0399395-368F-4424-8DC9-BF09C31F079E.QtWidgetsApplication1.designtime.idx
/QtWidgetsApplication1/Release/qmake/temp/Makefile
/QtWidgetsApplication1/Release/qmake/temp/props.txt
/QtWidgetsApplication1/Release/qmake/temp/qtvars.pro
/QtWidgetsApplication1/Release/qmake/temp/qtvars_Win32_Release.props
/QtWidgetsApplication1/Release/rcc/qrc_QtWidgetsApplication1.cpp
/QtWidgetsApplication1/Release/uic/ui_QtWidgetsApplication1.h
/QtWidgetsApplication1/main.cpp
